<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	

	   
	  
    <listener>  
    	<listener-class>org.springframework.web.context.ContextLoaderListener </listener-class>  
    </listener>
    
	
    
    
    
    
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.zcx.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.zcx.servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserEmailServlet</servlet-name>
    <servlet-class>com.zcx.servlet.CheckUserEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zcx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckStoreNameServlet</servlet-name>
    <servlet-class>com.zcx.servlet.CheckStoreNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserListServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStoreServlet</servlet-name>
    <servlet-class>com.zcx.servlet.AddStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.zcx.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>com.zcx.servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetStoreListServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetStoreListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetStoreByIdServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetStoreByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetStoreByOwnerServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetStoreByOwnerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsListServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetGoodsListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsByStoreServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetGoodsByStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsByIdServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetGoodsByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsByNameServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetGoodsByNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCartByUserServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetCartByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>com.zcx.servlet.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadGoodsHeadServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UploadGoodsHeadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsTypeServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetGoodsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.zcx.servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCartGoodsServlet</servlet-name>
    <servlet-class>com.zcx.servlet.DeleteCartGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyNowServlet</servlet-name>
    <servlet-class>com.zcx.servlet.BuyNowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOrderByUserServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetOrderByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOrderByStoreServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetOrderByStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadUserHeadServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UploadUserHeadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderOperateServlet</servlet-name>
    <servlet-class>com.zcx.servlet.OrderOperateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.zcx.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReleaseArticleServlet</servlet-name>
    <servlet-class>com.zcx.servlet.ReleaseArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetArticleByIdServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetArticleByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditArticleServlet</servlet-name>
    <servlet-class>com.zcx.servlet.EditArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRandomArticleServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetRandomArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetArticleByUserServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetArticleByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>com.zcx.servlet.FollowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DisFollowServlet</servlet-name>
    <servlet-class>com.zcx.servlet.DisFollowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddArticleCommentServlet</servlet-name>
    <servlet-class>com.zcx.servlet.AddArticleCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetArticleListServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetArticleListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserByFollowServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetUserByFollowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditGoodsServlet</servlet-name>
    <servlet-class>com.zcx.servlet.EditGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>com.zcx.servlet.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchArticleServlet</servlet-name>
    <servlet-class>com.zcx.servlet.SearchArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetArticleByTypeServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetArticleByTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadArticleHeadServlet</servlet-name>
    <servlet-class>com.zcx.servlet.UploadArticleHeadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetArticleHeadUrlServlet</servlet-name>
    <servlet-class>com.zcx.servlet.GetArticleHeadUrlServlet</servlet-class>
  </servlet>


















































  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserEmailServlet</servlet-name>
    <url-pattern>/CheckUserEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckStoreNameServlet</servlet-name>
    <url-pattern>/CheckStoreNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserListServlet</servlet-name>
    <url-pattern>/GetUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStoreServlet</servlet-name>
    <url-pattern>/AddStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStoreListServlet</servlet-name>
    <url-pattern>/GetStoreListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStoreByIdServlet</servlet-name>
    <url-pattern>/GetStoreByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStoreByOwnerServlet</servlet-name>
    <url-pattern>/GetStoreByOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsListServlet</servlet-name>
    <url-pattern>/GetGoodsListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsByStoreServlet</servlet-name>
    <url-pattern>/GetGoodsByStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsByIdServlet</servlet-name>
    <url-pattern>/GetGoodsByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsByNameServlet</servlet-name>
    <url-pattern>/GetGoodsByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCartByUserServlet</servlet-name>
    <url-pattern>/GetCartByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/ChangeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadGoodsHeadServlet</servlet-name>
    <url-pattern>/UploadGoodsHeadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsTypeServlet</servlet-name>
    <url-pattern>/GetGoodsTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartGoodsServlet</servlet-name>
    <url-pattern>/DeleteCartGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyNowServlet</servlet-name>
    <url-pattern>/BuyNowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderByUserServlet</servlet-name>
    <url-pattern>/GetOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderByStoreServlet</servlet-name>
    <url-pattern>/GetOrderByStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUserHeadServlet</servlet-name>
    <url-pattern>/UploadUserHeadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderOperateServlet</servlet-name>
    <url-pattern>/OrderOperateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReleaseArticleServlet</servlet-name>
    <url-pattern>/ReleaseArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticleByIdServlet</servlet-name>
    <url-pattern>/GetArticleByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <url-pattern>/UpdateArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditArticleServlet</servlet-name>
    <url-pattern>/EditArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRandomArticleServlet</servlet-name>
    <url-pattern>/GetRandomArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticleByUserServlet</servlet-name>
    <url-pattern>/GetArticleByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisFollowServlet</servlet-name>
    <url-pattern>/DisFollowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddArticleCommentServlet</servlet-name>
    <url-pattern>/AddArticleCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticleListServlet</servlet-name>
    <url-pattern>/GetArticleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserByFollowServlet</servlet-name>
    <url-pattern>/GetUserByFollowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <url-pattern>/UpdateGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditGoodsServlet</servlet-name>
    <url-pattern>/EditGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchArticleServlet</servlet-name>
    <url-pattern>/SearchArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticleByTypeServlet</servlet-name>
    <url-pattern>/GetArticleByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadArticleHeadServlet</servlet-name>
    <url-pattern>/UploadArticleHeadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticleHeadUrlServlet</servlet-name>
    <url-pattern>/GetArticleHeadUrlServlet</url-pattern>
  </servlet-mapping>

  
  
  
	
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
    </context-param>
    
  
  
  
  <welcome-file-list>
    <welcome-file>triangle.jsp</welcome-file>
  </welcome-file-list>
</web-app>
